@import '../colors.scss';

#header {
    background-color: white;

    #logo {
        font-size: 40px;
        // font-weight: 200;
        color: $tangerineVivid;
        margin: 0 60px 0 30px; //top right bottom left (clockwise)
        transition: all 0.6s ease-in-out;
        font-family: 'Monoton';

        #pizza {
            font-size: 30px;
            margin-right: 10px;
        }

        &:hover {
            transform: rotateY(1turn);
            color: $blueAero;
            // letter-spacing: 0.2rem;
        }
    }

    .navbar-toggler {
        color: $tangerineVivid;
        transform: scale(1.4);
        margin-right: 20px;
    }

    #page {
        font-size: 16px;
        font-weight: 600;
        margin: 0 40px 0 40px;
        color: $blueCG;
        text-decoration: none transparent;
        transition: all 0.5s ease-in;

        &:hover {
            // grows text without pushing the surrounding texts
            transform: scale(1.1);
            color: $bitterSweet;
            text-decoration: underline $bitterSweet 3px;

        }

        #icon {
            margin-right: 10px;
        }
    }


}