@import '../colors.scss';

#finance {
    height: 90%;
    width: 80%;
    margin-top: 3rem;
    color: $blueCeladon;
    text-shadow: $peachPuff 1px 0 7px;
    font-size: 1.6rem;
    position: relative;

    #emphasize {
        font-size: 2rem;
        color: $blueCG;
        text-shadow: $blueAero 1px 0 7px;
    }

    li {
        list-style-type: '\1F4B0'; // 1F4C8, 1F4C9, 1F4C4,1F4B0
        margin-bottom: 30px;
        font-size: 1em;
        // text-shadow: 

        span {
            margin-left: 5px;
            // font-size: 1.2em;
        }
    }

    img {
        width: 100px;
        height: 100px;
        margin-left: 50px;
        position: absolute;
        bottom: 0;
    }

    #citi {
        width: 80px;
        height: 70px;
        right: 250px;
    }

    #excel {
        right: 450px;
    }

}