$blueSapphire: #006A89;
$blueCG: #007598;
$blueCeladon: #0081A7;
$blueGreenMax: #00AFB9;
$blueGreenMid: #7FD6CB;
$blueAero: #BEE9D3;
$blueMorning: #84A59D;
$yellowLight: #FDFCDC;
$yellowRedMax: #F6BD60;
$peachPuff: #fed9b7;
$almondBlanched: #FEEBCA;
$tangerineVivid: #F7A58F;
$bitterSweet: #f07167;
$linen: #F7EDE2;